html,
body {
  font-family: monospace;
  font-size: 1em;
  /* remove the default margin          */
  margin: 0;
  /* make the html,body fill the page   */
  height: 100%;
}

#canvas {
  /* make the canvas act like a block   */
  display: block;
  /* make the canvas fill its container */
  width: 100%;
  height: 100%;
}

.card {
  position: fixed;
  border-radius: 0.5em;
  background-color: #eeeeee;
  border: 2px solid #212121;
  padding: 0.5em;
  margin: 0.5em;
  white-space: pre-wrap;
}
